<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700" rel="stylesheet" type="text/css">
    <script async="" src="https://arc.io/widget.js#iB6CnyLz"></script>
    <title>SteamDB API</title>
    <style>
        *,
        :not(pre) {
            font-family: "Roboto";
            font-weight: 400;
        }

        pre {
            font-family: "Roboto Mono";
            font-weight: 400;
        }
    </style>
    <script>
        if (location.protocol == "http:" && location.hostname !== 'localhost') {
            location.protocol = "https:";
        }
    </script>
</head>

<body cz-shortcut-listen="true">
    <h1>SteamDB API</h1>
    <small>Created By <a href="https://turbobiscuit.net">Turbo Biscuit</a></small>
    <hr>
    <p>
        SteamDB currently doesnt have an public API so I decided to make my own,
        this is a completely seperate database and only has changes from 7/13/2020
        forward.
    </p>
    <br><a href="/docs">Read the API docs</a><br><a href="https://patreon.com/turbobiscuit">Support
        Me</a><br><br><img
        src="https://img.shields.io/badge/dynamic/json.svg?url=https://steamdb.ml/api/v1/db/size&amp;label=total%20db%20size&amp;query=formatted&amp;color=1C263A"><img
        src="https://img.shields.io/badge/dynamic/json.svg?url=https://steamdb.ml/api/v1/db/size/mem&amp;label=total%20db%20size%20memory&amp;query=formatted&amp;color=1C263A"><img
        src="https://img.shields.io/badge/dynamic/json.svg?url=https://steamdb.ml/api/v1/db/keys&amp;label=total%20db%20keys&amp;query=formatted&amp;color=1C263A">
</body>

</html>