<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SteamDB Websocket Docs</title>
    <script async="" src="https://arc.io/widget.js#iB6CnyLz"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700" rel="stylesheet" type="text/css">
    <style>
        *,
        :not(pre) {
            font-family: "Roboto";
            font-weight: 400;
        }

        pre {
            font-family: "Roboto Mono";
            font-weight: 400;
        }
    </style>
</head>

<body>
    <h1>SteamDB Websocket Docs</h1>
    <hr>
    <ul>
        <li>
            <h1>Websockets</h1>
            <p>NOTICE: You must send a websocket message every 7 seconds to keep the connection alive.</p>
            <ul>
                <li>All Realtime<ul>
                        <pre>Method: Websocket</pre>
                        <pre>Endpoint: /api/v1/realtime</pre>
                        <pre>Example: wss://steamdb.ml/api/v1/realtime</pre>
                    </ul>
                </li>
                <li>Apps Realtime<ul>
                        <pre>Method: Websocket</pre>
                        <pre>Endpoint: /api/v1/realtime/apps</pre>
                        <pre>Example: wss://steamdb.ml/api/v1/realtime/apps?id=387990</pre>
                        <pre>Query Params:</pre>
                        <ul>
                            <li>
                                <pre>id</pre><br>
                                A list of comma seperated app ids
                                <pre>optional</pre>
                            </li>
                        </ul>
                    </ul>
                </li>
                <li>Packages Realtime<ul>
                        <pre>Method: Websocket</pre>
                        <pre>Endpoint: /api/v1/realtime/packages</pre>
                        <pre>Example: wss://steamdb.ml/api/v1/realtime/packages?id=73428</pre>
                        <pre>Query Params:</pre>
                        <ul>
                            <li>
                                <pre>id</pre><br>
                                A list of comma seperated package ids
                                <pre>optional</pre>
                            </li>
                        </ul>
                    </ul>
                </li>
            </ul>
            <h2>Websocket Events</h2>
            <ul>
                <li>
                    <pre>CONNECTED</pre>
                    <p>Example:
                        <pre>{"event":"CONNECTED","data":{"ip":"your-ip-here","type":"all, app, or package","id":"all or an array with the ids your listening for"}}</pre>
                    </p>
                </li>
                <li>
                    <pre>UPDATE</pre>
                    <p>Example:
                        <pre>{"event":"UPDATE","data":{"type":"app or package","id":app or package id,"changenumber":changenumber}}</pre>
                    </p>
                </li>
                <li>
                    <pre>BOT_LOGIN</pre>
                    <p>Example:
                        <pre>{"event":"BOT_LOGIN","data":{"id":"bot steam id (anon user)"}}</pre>
                    </p>
                </li>
                <li>
                    <pre>BOT_STARTUP</pre>
                    <p>Example:
                        <pre>{"event":"BOT_STARTUP"}</pre>
                    </p>
                </li>
                <li>
                    <pre>BOT_LOGOFF</pre>
                    <p>Example:
                        <pre>{"event":"BOT_LOGOFF"}</pre>
                    </p>
                </li>
                <li>
                    <pre>BOT_SHUTDOWN</pre>
                    <p>Example:
                        <pre>{"event":"BOT_SHUTDOWN"}</pre>
                    </p>
                </li>

            </ul>
        </li>
</body>

</html>